<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3>Payments</h3>
    </div>

    <table class="table table-bordered table-hover shadow">
        <thead class="table-dark">
            <tr>
                <th>No</th>
                <th>Tutor</th>
                <th>Amount</th>
                <th>StartTime</th>
                <th>EndTime</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor ="let payment of payments; let i = index ">
                <td>{{i + 1}}</td>
                <td>{{findTutorById(payment.tutorId!).name}}</td>
                <td>{{(+payment.amount!) / 100}} VND    </td>
                <td>{{payment.startTime  | date: 'dd/MM/yyyy HH:mm:ss'  }}</td>
                <td>{{payment.endTime | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                <td>
                    <button class="btn btn-warning btn-sm me-2" (click)="deletePayment(payment.id!)">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


